html {
  font-family: arial;
  position: relative;
  font-size: 13px;
  background: #1155A0;
}

body {
  margin: 0px;
  padding: 0px;
}

#body_centered {
  margin: 0px auto;
  text-align: left;
  width: 1000px;
  clear: both;
}

div {
  font-size: 13px;
}

span {
  font-size: 13px;
}

/** Header Styles **/

#header_top_spacer {
  height: 15px;
}

#header {
  margin-bottom: 10px;
}

#header a:link { color: #fff }
#header a:visited { color: #fff }
#header a:hover { color: #fff }
#header a:active { color: #fff }

#footer {
  margin: 15px 15px 15px 22px;
  width: 960px;
  overflow: hidden;
  color: white;
}

#footer a:link { color: #fff }
#footer a:visited { color: #fff }
#footer a:hover { color: #fff }
#footer a:active { color: #fff }

#footer_right {
  float: right;
}

#header_left {
  margin-left: 15px;
  width: 100%;
}

.tab_active,
.tab_inactive {
  float: left;
  font-weight: bold;
  color: #193B6B;
  border-style: solid;
  border-width: 1px;
  height: 24px;
  padding: 0px 12px;
  margin-right: 8px;
}

.tab_active {
  border-color: #333333 #333333 white;
  background: white;
}

.tab_inactive {
  border-color: #669FCC #669FCC #333333;
  background: #669FCC;
}

#header_right {
  overflow: hidden;
}

.add_to_calendar_floating {
  top: 21px;  /* Show popup below button */
  position: absolute;
  z-index: 10;
  width: 12em;
  border: 1px solid silver;
  padding: 6px 6px 6px 12px;
  font-size: 12px;  /* To match AddThis widget */
  color: rgb(102, 102, 102);  /* To match AddThis widget */
  background: white;
  visibility: hidden;
}

.popup_text A {
  color: #2475B6;
  text-decoration: none;
}

.add_to_calendar_header {
  background: #2475B6;
  color: white;
  padding: 3px 5px;
}

.sign_in {
  font-size: small;
  font-weight: bold;
  padding: 5px;
  color: white;
}

.sign_in img {
  padding-right: 5px;
  margin-bottom: -5px;
}

/** Content sections **/
#content_outer {
  overflow: hidden;
  background: white;
  width: 960px;
}

#content {
  padding: 16px;
}

#content_left {
}

#content_right {
  padding-left: 10px;
}

/** Search results page **/

.snippet {
  margin-bottom: 20px;
  padding-left: 20px;
}

.snippet_title {
  font-weight: bold;
}

.snippet_title A {
  color: #018;
  text-decoration: none;
}

.snippet_url A {
  color: #039;
  text-decoration: none;
}

.snippet_link A {
  color: #669FCC;
}

.snippet_sub_text {
  color: #666;
  margin-bottom: 4px;
}

.snippet_sub_text A {
  color: #9999cc;
  text-decoration: underline;
}

.snippet_buttons {
  float: left;
  color: gray;
}

.snippet_button {
  margin: 5px 0px;
}

.more_link {
  text-decoration: underline;
  cursor: pointer;
}

.unstarred {
}

.starred {
}


/** Search results - map **/
#map {
  border: 1px solid silver;
  margin-bottom: 10px;
  width: 228px;
  height: 228px;
}

/** Search results - calendar **/
#calendar {
  margin-top: 20px;
  width: 230px;
  font-size: small;
}

#calendar table {
  margin: 0 auto;
  color: #2475B6;
  background: #669FCC;
  border-collapse: collapse;
  border: 3px solid #669FCC;
}

#calendar td,
#calendar th {
  padding: 3px;
  text-align: center;
  font-size: small;
}

#calendar td {
  width: 1.5em;
  background: #a3bfdc;
}

#calendar td.calendar_days_weekend {
  background: #b9cfe4;
}

#calendar td.calendar_days_today {
  font-weight: bolder;
}

#calendar td.calendar_days_event {
  background: #fff;
}

/** Work with others **/
.friend {
  padding-top: 10px;
}

.friend_picture {
  float: left;
  width: 45px;
}

.friend_details {
  float: left;
  padding-left: 5px;
}

.friend_name {
  color: #2475B6;
}

.friend_stars {
  color: #999999;
}


/** Generic Styles **/

/* TODO(paul): unselectable in IE */
.noselect {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.pointer {
  cursor: pointer;
}

.nobreak {
  white-space: nowrap;
}

#loading {
  width: 100%;
  font-size: 24px;
  color: #aaa;
  text-align: center;
  padding-top: 60px;
}

#paginator {
  font-size: 14px;
}

.interest_links {
  margin-top: 10px;
}

.no_underline {
  text-decoration: none;
}

#location {
  margin-left: 5px;
  width: 186px;
}

#login_bar_position {
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: -3;
  left: 0px;
  z-index: 100;
  width: 100%;
}

#login_bar {
  float: right;
}

.valign {
	display: inline-block;
	vertical-align: middle;
}

#logo_flag {
  margin-right: 10px;
  margin-left: 8px;
  width: 70px;
  height: 34px;
}

#logo_name {
  margin-right: 20px;
  width: 243px;
  height: 37px;
}

#background_top_gradient {
  height: 70px;
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 0px;
  float: left;
}

.glow_tl {
  width: 23px;
  height: 20px;
}

.glow_top {
  background-image: url('../images/glow-top.gif');
  background-repeat: repeat-x;
  height: 20px;
}

.glow_tr {
  width: 23px;
  height: 20px;
}

.glow_left {
  background-image: url('../images/glow-left.gif');
  background-repeat: repeat-y;
}

.glow_right {
  background-image: url('../images/glow-right.gif');
  background-repeat: repeat-y;
}

.glow_bl {
  width: 23px;
  height: 20px;
}

.glow_bottom {
  background-image: url('../images/glow-bottom.gif');
  background-repeat: repeat-x;
  height: 20px;
}

.glow_br {
  width: 23px;
  height: 20px;
}

#debug_snippets {
  border: 1px solid silver;
  width: 900px;
  margin: 10px;
  padding: 10px;
  background: white;
}

#static_content_list {
  font-weight: bold;
  list-style-type: none;
  margin-left: 10px;
  padding: 0px;
}

#static_content_list a {
  text-decoration: none;
  font-weight: normal;
  color: #039;
}

h1 {
  font-size: 24pt;
}
