body, html {
  font-family: arial;
  position: relative;
  font-size: 13px;
  margin: 2px;
}

div {
  font-size: 13px;
}

span {
  font-size: 13px;
}

/** Header Styles **/

.header_title {
  float: left;
  color: white;
  font-weight: bold;
  font-size: 20px;
  padding-left: 10px;
  width: 240px;
}

#header_top_spacer {
  height: 15px;
}

#header {
  background: #2475B6;
  border-bottom: 1px solid #193b6b;
  height: 40px;
}

#header_left {
  width: 60em;
}

.tab_active,
.tab_inactive {
  float: left;
  font-weight: bold;
  color: #193B6B;
  border-style: solid;
  border-width: 1px;
  height: 24px;
  padding: 0px 12px;
  margin-right: 8px;
}

.tab_active {
  border-color: #333333 #333333 white;
  background: white;
}

.tab_inactive {
  border-color: #669FCC #669FCC #333333;
  background: #669FCC;
}

#header_right {
  overflow: hidden;
}

.sign_in {
  font-size: small;
  font-weight: bold;
  margin-right: 5px;
  padding: 5px;
  color: white;
}

.sign_in img {
  padding-right: 5px;
  margin-bottom: -5px;
}

/** Content sections **/
#content {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
  width: 960px;
  overflow: hidden;
}

#content_left {
}

#content_right {
  padding-left: 10px;
}


/** Row highlighting **/
.row_plain {
  background-color: white;
  padding-right: 10px;
}

.row_highlight {
  background-color: #ECF3F8;
  padding-right: 10px;
}


/** Search results page **/
.top_search {
  margin-bottom: 10px;
}

.snippet {
  margin-bottom: 10px;
}

.snippet_title {
  font-weight: bold;
}

.snippet_title A {
  color: #2475B6;
  font-decoration: underline;
}

.snippet_url A {
  color: #669fcc;
  text-decoration: none;
}

.snippet_link A {
  color: #669FCC;
}

.snippet_sub_text {
  color: #999999;
}

.snippet_sub_text A {
  color: #9999cc;
  text-decoration: underline;
}

.snippet_buttons {
  float: left;
  color: gray;
}

.snippet_button {
  margin: 5px 0px;
}

.more_link {
  text-decoration: underline;
  cursor: pointer;
}

.unstarred {
  background-image: url(/images/Event-UnSelected-Star.png);
  height: 16px;
}

.starred {
  background-image: url(/images/Event-Selected-Star.png);
  height: 16px;
}


/** Search results - map **/
#map {
  border: 1px solid silver;
  margin-bottom: 10px;
  width: 228px;
  height: 228px;
}

/** Search results - calendar **/
#calendar {
  margin-bottom: 10px;
  width: 230px;
  font-size: small;
}

#calendar table {
  margin: 0 auto;
  color: #2475B6;
  background: #669FCC;
  border-collapse: collapse;
  border: 3px solid #669FCC;
}

#calendar td,
#calendar th {
  padding: 3px;
  text-align: center;
  font-size: small;
}

#calendar td {
  width: 1.5em;
  background: #a3bfdc;
}

#calendar td.calendar_days_weekend {
  background: #b9cfe4;
}

#calendar td.calendar_days_today {
  font-weight: bolder;
}

#calendar td.calendar_days_event {
  background: #fff;
}

/** Work with others **/
.friend {
  padding-top: 10px;
}

.friend_picture {
  float: left;
  width: 45px;
}

.friend_details {
  float: left;
  padding-left: 5px;
}

.friend_name {
  color: #2475B6;
}

.friend_stars {
  color: #999999;
}


/** Generic Styles **/

/* TODO(paul): unselectable in IE */
.noselect {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.pointer {
  cursor: pointer;
}

.nobreak {
  white-space: nowrap;
}
