html {
  font-family: arial;
  position: relative;
  font-size: 13px;
  margin: 2px;
  background: #1155A0;
  background-image: url('/images/background-gradient.png');
  background-repeat: repeat-x
}

h1 {
  color: #2475B6;
  margin: 10px 0px 5px 10px;
  font-size: 24px;
}

div {
  font-size: 13px;
}

span {
  font-size: 13px;
}

/** Header Styles **/

.header_title {
  color: white;
  font-weight: bold;
  font-size: 40px;
  padding-left: 10px;
  width: 240px;
  margin-right: 30px;
}

#header_top_spacer {
  height: 15px;
}

#header {
  height: 40px;
  padding: 0px 0px 20px 15px;
}

#header a:link { color: #fff }
#header a:visited { color: #fff }
#header a:hover { color: #fff }
#header a:active { color: #fff }

#footer {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  width: 960px;
  overflow: hidden;
  color: white;
  margin-top: 20px;
}

#footer a:link { color: #fff }
#footer a:visited { color: #fff }
#footer a:hover { color: #fff }
#footer a:active { color: #fff }

#header_left {
  width: 60em;
}

.tab_active,
.tab_inactive {
  float: left;
  font-weight: bold;
  color: #193B6B;
  border-style: solid;
  border-width: 1px;
  height: 24px;
  padding: 0px 12px;
  margin-right: 8px;
}

.tab_active {
  border-color: #333333 #333333 white;
  background: white;
}

.tab_inactive {
  border-color: #669FCC #669FCC #333333;
  background: #669FCC;
}

#header_right {
  overflow: hidden;
}

.add_to_calendar_floating {
  top: 21px;  /* Show popup below button */
  position: absolute;
  z-index: 10;
  width: 12em;
  border: 1px solid silver;
  padding: 6px 6px 6px 12px;
  font-size: 12px;  /* To match AddThis widget */
  color: rgb(102, 102, 102);  /* To match AddThis widget */
  background: white;
  visibility: hidden;
}

.popup_text A {
  color: #2475B6;
  text-decoration: none;
}

.add_to_calendar_header {
  background: #2475B6;
  color: white;
  padding: 3px 5px;
}

.sign_in {
  font-size: small;
  font-weight: bold;
  margin-right: 5px;
  padding: 5px;
  color: white;
}

.sign_in img {
  padding-right: 5px;
  margin-bottom: -5px;
}

/** Content sections **/
#content {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  width: 960px;
  overflow: hidden;

  background: white;
  padding: 16px;

  border: 1px solid #077BD6;
}

#content_left {
}

#content_right {
  padding-left: 10px;
}

/** Row highlighting **/
.row_plain {
 /* background-color: white;*/
  background-color: #DAE9F5;
  padding: 12px;
}

.row_highlight {
  background-color: #DAE9F5;
  padding: 12px;
}


/** Search results page **/
.top_search {
  margin-bottom: 10px;
  font-weight: bold;
}

.snippet {
  margin-bottom: 10px;
}

.snippet_title {
  font-weight: bold;
}

.snippet_title A {
  color: #018;
  text-decoration: none;
}

.snippet_url A {
  color: #039;
  text-decoration: none;
}

.snippet_link A {
  color: #669FCC;
}

.snippet_sub_text {
  color: #666;
  margin-bottom: 4px;
}

.snippet_sub_text A {
  color: #9999cc;
  text-decoration: underline;
}

.snippet_buttons {
  float: left;
  color: gray;
}

.snippet_button {
  margin: 5px 0px;
}

.more_link {
  text-decoration: underline;
  cursor: pointer;
}

.unstarred {
}

.starred {
}


/** Search results - map **/
#map {
  border: 1px solid silver;
  margin-bottom: 10px;
  width: 228px;
  height: 228px;
}

/** Search results - calendar **/
#calendar {
  margin-top: 20px;
  width: 230px;
  font-size: small;
}

#calendar table {
  margin: 0 auto;
  color: #2475B6;
  background: #669FCC;
  border-collapse: collapse;
  border: 3px solid #669FCC;
}

#calendar td,
#calendar th {
  padding: 3px;
  text-align: center;
  font-size: small;
}

#calendar td {
  width: 1.5em;
  background: #a3bfdc;
}

#calendar td.calendar_days_weekend {
  background: #b9cfe4;
}

#calendar td.calendar_days_today {
  font-weight: bolder;
}

#calendar td.calendar_days_event {
  background: #fff;
}

/** Work with others **/
.friend {
  padding-top: 10px;
}

.friend_picture {
  float: left;
  width: 45px;
}

.friend_details {
  float: left;
  padding-left: 5px;
}

.friend_name {
  color: #2475B6;
}

.friend_stars {
  color: #999999;
}


/** Generic Styles **/

/* TODO(paul): unselectable in IE */
.noselect {
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.pointer {
  cursor: pointer;
}

.nobreak {
  white-space: nowrap;
}

#loading {
  width: 100%;
  font-size: 24px;
  color: #aaa;
  text-align: center;
  padding-top: 60px;
}

#paginator {
  font-size: 14px;
}

#keywords_bar {
  width: 50em;
}

.interest_links {
  margin-top: 10px;
}

.no_underline {
  text-decoration: none;
}

.footer_left {
}

.footer_right {
  float: right;
}

.logo {
  vertical-align: middle;
}

.search_button {
  vertical-align: middle;
}