body {
  font-family: arial;
}

.snippet {
}

.snippet_title {
  font-weight: bold;
}

.snippet_title A {
  color: #2475B6;
  font-decoration: underline;
}

.snippet_link A {
  color: #669FCC;
}

.snippet_actions {
  width: 600px;
  margin-left: 10px;
  padding: 6px;
}

#snippet_pane {
  margin-left: 8px;
}

.header_title {
  float: left;
  color: white;
  font-weight: bold;
  font-size: x-large;
  padding: 0px 30px 0px 12px;
}

.header {
  background: #2475B6;
  border-bottom: 1px solid #333333;
}

.tab_active,
.tab_inactive {
  float: left;
  font-weight: bold;
  color: #193B6B;
  border-style: solid;
  border-width: 1px;
  padding: 4px 12px;
  margin-right: 8px;
  margin-bottom: -1px;
  cursor: pointer;
}

.tab_active {
  border-color: #333333 #333333 white;
  background: white;
}

.tab_inactive {
  border-color: #669FCC #669FCC #333333;
  background: #669FCC;
}

#search_bar {
  margin: 16px 8px 16px 8px;
}


/*
 * NOTE: I don't really know what I'm doing here in terms of css.
 * It all looks nice on my box but is definitely not cross browser
 * and cross screen size friendly!
 **/
.right_pane {
  float: left;
  width: 200px;
  background-color: #ECF3F8;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px;
  height: 100%;
}

.left_pane {
  margin-top: 10px;
  padding: 10px;
  padding-top: 0px;
  float: left;
  width: 550px;
}

/** end of questionable css */

.pane_title {
  font-weight: bold;
  color: #2475B6;
}

.member_row0,
.member_row1 {
  padding: 5px;
  margin-bottom: 5px;
  background-color: white;
}

.member_row0 {
  background-color: #ECF3F8;
}

.member_photo {
  width: 45px;
  height: 45px;
}

.snippet_buttons {
  float: right;
  color: gray;
}

.activity {
  margin-bottom: 10px;
  padding: 5px;
  background-color: #ECF3F8;
}

.activity_body {
  padding-left: 10px;
}

/** Friend Connect defined style **/
.ot-activity-metadata {
  display: none;
}

/** ShareThis defined styles **/
.stbutton {
  color: white;
  text-decoration: none;
}

#map {
  border: 1px solid silver;
  margin: 6px;
}

/** Search results' calendar style **/
#calendar {
  width: 300px;
  float: left;
}

#calendar table {
  margin: 0 auto;
  color: #2475B6;
  background: #669FCC;
  border-collapse: collapse;
  border: 3px solid #669FCC;
}

#calendar td,
#calendar th {
  padding: 3px;
  width: 1.5em;
  text-align: center;
}

#calendar td {
  background: #a3bfdc;
}

#calendar td.calendar_days_weekend {
  background: #b9cfe4;
}

#calendar td.calendar_days_today {
  border: 1px solid #999;
}

#calendar td.calendar_days_event {
  background: #fff;
}
