<html xmlns='http://www.w3.org/1999/xhtml' xmlns:fb='http://www.facebook.com/2008/fbml'>
{% comment %}
   Base template for Django inheritance.
   All templates should inherit from this.

   blocks that can be overridden:
     css_files: link tags for css files to include.
     js_files: script tags for JS files to include.
     subheader: area below header.
     content_layout: the main area inside the body, below the header, or
        below the subheader if defined.  This should only be overridden by
        layout templates
     prefooter: area above footer.
{% endcomment %}

<head>
  <title>{% block title %}{% endblock %}</title>

  <link href='css/main.css' rel='stylesheet'/>
  {% block css_files %}{% endblock %}

  <script type='text/javascript'>
    var vol = {};  // Namespace
  </script>
  <script src='http://www.google.com/jsapi?key=ABQIAAAAHtEBbyenR4BaYGl54_p0fRTpeCj-9ism2i6Mt7fLlVoN6HsfDBS56p13NY7E4BKFD32PG4jrxn4P1g' type='text/javascript'></script>
  <script type='text/javascript' src='http://www.google.com/friendconnect/script/friendconnect.js'></script>
  <script type='text/javascript' src='/js/friendconnect_header.js'></script>
  <script type='text/javascript' src='/js/utils.js'></script>
  <script type='text/javascript'>
    // These components load asynchronously.  We use AsyncLoadManager to
    // queue up function callbacks until each component is loaded.
    var asyncLoadManager = new AsyncLoadManager(
        [ 'map', 'jquery', 'bodyload' ]
    );

    // google.load('jquery', '1',
    //     { 'callback' : function() {
    //                      asyncLoadManager.doneLoading('jquery');
    //                    }});

    // ...and one to queue JS callbacks on body unload event.
    var onUnloadWorkQueue = new WorkQueue();
  </script>
{% block js_files %}{% endblock %}


</head>
<body onload='asyncLoadManager.doneLoading("bodyload");'>
  <!-- Facebook Connect scripts must be loaded in the body of the page -->
  <script src='http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php' type='text/javascript'></script>
  <script type='text/javascript'>
    FB.init('df68a40a4a90d4495ed03f920f16c333', 'xd_receiver.htm');
  </script>

  {% include 'header.html' %}
  {% block subheader %}{% endblock %}
  {% block content_layout %}{% endblock %}
  {% block prefooter %}{% endblock %}
</body>
</html>
