<script type="text/javascript" src="http://www.google.com/friendconnect/script/friendconnect.js"></script>
<script type="text/javascript" src="/js/friendconnect_header.js"></script>

<div class='header'>
  &nbsp;
  <div class='header_title'>Footprint</div>
  <div class={% ifequal currentPage "SEARCH" %} 'tab_active' {% else %} 'tab_inactive' {% endifequal %} onclick="location.href = '/search?loc=San+Francisco'">Find an event</div>
  <div class={% ifequal currentPage "FRIENDS" %} 'tab_active' {% else %} 'tab_inactive' {% endifequal %} onclick="location.href = '/friends'">Work with others</div>
  <div style='clear: both; float: none'></div>
</div>
