   <nobr>
    {% if user %}
<div class='sign_in'>
  Hello, {{ user.display_name }} |

  <a href='/myevents'>Your Events</a> |

  {% ifequal user.account_type "friendconnect"%}
    <!-- Note: This link to Settings must be included. If it is not included the user has no way to adjust their privacy controls. -->
    <!-- So things like their activities will never go anywhere. -->
    <a href="#" onclick="google.friendconnect.requestSettings()">Settings</a> |
    <a href="#" onclick="google.friendconnect.requestInvite()">Invite</a> |
    <a href="#" onclick="google.friendconnect.requestSignOut(); window.location.reload();">Sign Out</a>
  {% else %} {% ifequal user.account_type "facebook" %}
    <a href="#" onclick="inviteFacebookFriends();">Invite</a> |
    <a href="#" onclick="FB.Connect.logout(function() {window.location.reload();});">Sign Out</a>
  {% endifequal %}{% endifequal %}
  | <a href='/help'><b>Help</b></a>
</div>

<script type="text/javascript">
    function inviteFacebookFriends() {
      var url = location.protocol + "//" + location.host;

      var dialog = new FB.UI.FBMLPopupDialog('Invite your friends to join All For Good', '');
      var fbml = '<fb:fbml><fb:request-form action="' + url
          + '" method="POST" invite="true" type="One For All" content="Visit ' + url
          + ' to find volunteer opportunities near you! '
          + '<fb:req-choice url=\'' + url  + '\' label=\'Yes, I want to get invovled\' />">'
          + '<fb:multi-friend-selector rows="2" showborder="false" actiontext="Invite your friends"/>'
          + '</fb:request-form></fb:fbml>';
      dialog.setFBMLContent(fbml);
      dialog.setContentWidth(600);
      dialog.setContentHeight(400);
      dialog.show();
    }

    function createSupportsActivity(eventName, eventWebsite, eventUrl) {
      var eventRedirectUrl = 'http://www.AllForGood.org/url?q=' + encodeURIComponent(eventUrl);
      var fcString = 'supports <a href="' + eventRedirectUrl + '">' + eventName + ' on ' + eventWebsite;
      var fbString = fcString + '</a> via <a href="http://www.AllForGood.org">AllForGood.org</a>';

      createActivity(fbString, fcString);
    }

    function createActivity(fbString, fcString) {
      {% ifequal user.account_type "friendconnect"%}
        var activity = opensocial.newActivity(
            {title: '{{user.display_name}} ' + fcString});
        opensocial.requestCreateActivity(activity, "HIGH");
      {% else %} {% ifequal user.account_type "facebook" %}
        var templateId = 79242242909; // Template of the format "<user> <description>" 
        FB.Connect.showFeedDialog(templateId, {"description" : fbString}, 
          [], '', 1, FB.RequireConnect.require, function(){});
      {% endifequal %}{% endifequal %} 
    }

</script>
    {% else %}
<div class='sign_in'>
  Sign in with <span id="signInProvider"></span> :
  <img height='18px' width='18px' src="images/signin-yahoo.gif" alt="Yahoo!" title="Yahoo!" onclick="google.friendconnect.requestSignIn('YAHOO')"/>
  <img height='18px' width='18px'  src="images/signin-google.gif" alt="Google" title="Google" onclick="google.friendconnect.requestSignIn('GOOGLE')"/>
  <img height='18px' width='18px' src="images/signin-aol.gif" alt="AOL" title="AOL" onclick="google.friendconnect.requestSignIn('AIM')"/>
  <img height='18px' width='18px' src="images/signin-facebook.gif" alt="Facebook" title="Facebook" onclick="requestFacebookSignIn()"/>
  <!--img height='18px' width='18px' src="images/signin-myspace.gif" alt="MySpace" title="MySpace" onclick="google.friendconnect.requestSignIn()"/-->
  <img height='18px' width='18px' src="images/signin-openid.gif" alt="OpenID" title="OpenID" onclick="google.friendconnect.requestSignIn('OPENID')"/>

  <script type="text/javascript">
    function requestFacebookSignIn() {
      FB.Connect.requireSession(null, true);
      FB.Facebook.get_sessionState().waitUntilReady(function() {
        window.location.reload();
      });
    }

    function checkForViewer() {
      // If the viewer is != null and the userId == null reload page.
      // This is a temporary placeholder until FC gives us an onSignIn callback
      var req = opensocial.newDataRequest();
      req.add(req.newFetchPersonRequest('VIEWER'), 'viewer');
      req.send(function(data) {
        if (data.get('viewer').getData()) { window.location.reload();}
      });
    }
  </script>
  | <a href='/help'><b>Help</b></a>
</div>

    {% endif %}
   </nobr>
