{% extends "layout_two_column.html" %}

{% block title %}
My Events
{% endblock %}}

{% block subheader %}
{% endblock subheader %}

{% block content_left %}
{% if user %}
  Your events. <br/>
{% endif %}

{% endblock content_left %}

{% block content_right %}
{% if not user %}
  <br><br><b>Log in to see your starred events</b>
{% endif %}

<div id='no_results_message' style='display:none;'>
  <br><br><b>No results found.</b>
</div>
<div id='snippets_pane'>
  {% include 'snippets_list.html' %}
</div>
{% endblock content_right %}


{% block prefooter %}
<center>
  {%include 'paginator.html' %}
</center>
{% endblock prefooter %}
