{% extends "layout_two_column.html" %}


{% block title %}
My Events
{% endblock %}}

{% block subheader %}
{% endblock subheader %}

{% block content_left %}
Your events.
<br />
<a href="/memberactivity">Activity stream of all members.</a>
{% endblock content_left %}

{% block width_left %}320{% endblock %}

{% block content_right %}
<div id='snippets_pane'>
{% include 'snippets_list.html' %}
</div>
{% endblock content_right %}


{% block width_right %}{% endblock %}

{% block prefooter %}
<center>
  {%include 'paginator.html' %}
</center>

<script>
document.userDisplayName = "{{user_display_name}}";
</script>

{% endblock prefooter %}
