{% extends "search_results.html" %}

{% block title %}
All For Good - Your Activities
{% endblock %}}

{% block subheader %}
  {% if redirect_to_home %}
  <script>
    window.location = '/';
  </script>
  {% endif %}
{% endblock subheader %}

{% block content_left %}
  <div id='map'></div>

  <div id="calendar" style="display:none">
    {% include 'calendar_widget.html' %}
  </div>

  <!--
  <div>
    <a href='javascript:setWhoFilter("me");'>Me</a><br/>
    <a href='javascript:setWhoFilter("me_and_friends");'>Me + my friends</a>&nbsp;
    <span style="font-size:9px"><em>Not implemented...</em></span><br/>
  </div>
  -->
{% endblock content_left %}


