{% if not has_results %}
<script type='text/javascript'>
  el('no_results_message').style.display = '';
</script>
{% else %}

<script type='text/javascript'>
  el('no_results_message').style.display = 'none';
  
  // Note(timman): Extracted this small databag out of search_results.js 
  // because that file has dependencies on map and calendar widgets & offers
  // active search functionality, none of which is (at least currently)
  // present in the Work With Others page.
  function SearchResult(url, title, location, snippet, startdate, enddate) {
    this.url = url;
    this.title = title;
    this.location = location;
    this.snippet = snippet;
    this.startdate = startdate;
    this.enddate = enddate;
  }

  var searchResults = [];
{% for result in current_user_opps_result_set.results %}
  searchResults.push(new SearchResult(
      '{{result.url|escape}}',
      '{{result.js_escaped_title|escape}}',
      '{{result.location}}',
      '{{result.js_escaped_snippet|escape}}',
      new Date('{{ result.startdate|date:"r" }}'),
      new Date('{{ result.enddate|date:"r" }}')));
{% endfor %}

  var friendInterestsByOid = {{ friend_interests_by_oid_js }}; 

  //TODO(timman): Move this function to an included js file.
  function showFriendsForOpp(el, oid) {
    var popupDiv = $('#friendsForOpPopup').get(0);
    var offset = $(el).offset();
    popupDiv.style.top = offset.top + $(el).height();
    popupDiv.style.left = offset.left - 5; // nudge left to line up better
    
    // get friends associated with this opportunity id
    var friends = friendInterestsByOid[oid] || [];
    for (var i = 0; i < friends.length; i++) {
      //TODO(timman): Do we need to sort these stably in some way?
      var friendDiv = document.getElementById('friend_' + friends[i]);
      var clone = friendDiv.cloneNode(true);
      clone.id = '';
      popupDiv.appendChild(clone);
    }
    popupDiv.style.display = '';

    setTimeout(function() {
      $('body').click(hideFriendsForOpp);
    }, 1);
  }
  
  function hideFriendsForOpp() {
    var popupDiv = document.getElementById('friendsForOpPopup');
    if (popupDiv) {
      popupDiv.style.display = 'none';
      $(popupDiv).empty();
    }
    var body = document.getElementsByTagName('body')[0]; //$('body');
    $(body).unbind('click', hideFriendsForOpp);
  }

</script>

  <script type='text/javascript'>
    // TODO(timman): refactor.
    var addthis_pub='footprint2009dev';
    var addthis_options = 'email, google, facebook, myspace';
    var addthis_header_color = '#ffffff';
    var addthis_header_background = '#2475B6';
    var addthis_hover_delay = 10000;
    var addthis_test0309 = false;  // Remove "You may also like..." ads

    jQuery.getScript('http://s7.addthis.com/js/200/addthis_widget.js',
                     function() { asyncLoadManager.doneLoading('addthis'); });
    function showShareWidget(node, searchResult) {
      if (asyncLoadManager.isLoaded('addthis')) {
        addthis_open(node, '', searchResult.url, searchResult.title);
      }
    }
    function hideShareWidget() {
      if (asyncLoadManager.isLoaded('addthis')) {
        addthis_close();
      }
    }
  </script>
  
  <!-- TODO(timman): move to a stylesheet or inline in head, this is not
       valid in the body -->
  <style>
    #friendsForOpPopup {
      position: absolute;
      border: 1px solid #999;
      background: #fff;
      width: 230px;
      overflow: hidden; /* This will still be susceptible to float drop for 
                           long names that clip but looks not all that bad,
                           and bigger fish to fry */
    }
    #friendsForOpPopup .friend {
      padding: 5px;
      border-bottom: 1px solid #999;
    }
  </style>
  
  <div id="friendsForOpPopup" style="display:none">
  </div>

{% for result in current_user_opps_result_set.results %}
  <div class='snippet {% cycle row_highlight,row_plain %}'>
    <table>
    <tr>
    <td valign='top'>
    <div class='snippet_buttons'>
      <div class='snippet_button pointer starred'
           onmousedown='unstar(this, "{{result.item_id|escape}}",
                                       "{{result.base_url|escape}}")'>
      </div>

      <div class='snippet_button' style='position: relative;'
           onclick='popupModalElement("add_to_calendar{{ forloop.counter0 }}");return false;'>
        <div id='add_to_calendar{{ forloop.counter0 }}'
             class='add_to_calendar_floating'>
          <div class='pointer popup_text'
               onclick='addToCalendar(this, "GOOGLE", searchResults[{{ forloop.counter0 }}])'>
            <!--img src='images/google.png' height="16px" alt='Google Calendar'/ -->
            <a href='javascript:void(0)'>Add to Google Calendar</a>
          </div>
          <div class='pointer popup_text'
               onclick=''addToCalendar(this, "YAHOO", searchResults[{{ forloop.counter0 }}])'>
            <!-- img src='images/yahoo.gif' height="16px" alt='Google Calendar'/ -->
            <a href='javascript:void(0)'>Add to Yahoo Calendar</a>
          </div>
        </div>
        <img class='pointer' src='images/Event-AddToCalendar.png' height="16px" alt='Add to calendar'/>
      </div>

      <div class='snippet_button' id='addthis{{ forloop.counter0 }}'>
        <a href="javascript:showShareWidget(this, searchResults[{{ forloop.counter0 }}]);void(0);"
           onmouseout="hideShareWidget()"
           onmouseover="return showShareWidget(this, searchResults[{{ forloop.counter0 }}])"
           onclick="return showShareWidget(this, searchResults[{{ forloop.counter0 }}])" >
          <img src="/images/Event-Share.png" width="16" height="16" alt="Bookmark and Share" style="border:0"/>
        </a>
      </div>

    </div>
    </td>
    <td valign="top">
    <div>
      <div class='snippet_title'>
        <a href='{{ result.url }}'>{{ result.title }}</a>
      </div>
      {% if result.location or result.startdate or result.interest_count %}
        <div class='snippet_sub_text'>
          {{ result.location }}
          {% if result.location %}-{% endif %}
          {{ result.startdate|date:"m/d/Y" }}
          {% ifnotequal result.startdate.date result.enddate.date %}
          - {{ result.enddate|date:"m/d/Y" }}
          {% endifnotequal %}
          {% if result.overall_interest_count %}
            {% if result.location or result.startdate %}-{% endif %}
            <img src="images/Event-StarredByOthers.png" alt="Starred"/> by {{result.overall_interest_count}}
            {{ result.overall_interest_count|pluralize:"person,people" }}
          {% endif %}
          {% if result.friends_interest_count %}
             (<a href="javascript:;" onclick="showFriendsForOpp(this, '{{ result.id }}')">{{ result.friends_interest_count }}
             {{ result.friends_interest_count|pluralize:"friend,friends" }}</a>)
          {% endif %}
        </div>
      {% endif %}
      {% if result.have_more %}
<div class="snippet_sub_text" style="display:inline">
      {% endif %}
      {% for entry in result.less_list %}{{ entry }}{% endfor %}
      {% if result.have_more %}
<div id="{{ result.more_id }}" style="display:none;">
      {% for entry in result.more_list %}{{ entry }}{% endfor %}
<div onclick="showLessDuplicates('{{ result.more_id }}')" class="more_link"> show fewer locations and times...</div>
</div>
<span id="s{{ result.more_id }}" onclick="showMoreDuplicates('{{ result.more_id }}')" class="more_link"> more locations and times...</span>
</div>
      {% endif %}
      <div class='snippet_text'>
        {{ result.snippet }}
      </div>
      <div class='snippet_url'>
        <a href='{{ result.url }}'>{{ result.url_short }}</a>
      </div>
    </div>
    </td>
    </tr>
    </table>
  </div>
{% endfor %}

<div style='margin-top:100px; color: #999; font-size: small;'>
<hr>
DEBUG INFO:<br>
 FP query=<a href='{{ view_url }}'>{{ view_url }}</a><br>
 Base query= <a href='{{ result_set.query_url_encoded }}'>{{ result_set.query_url_unencoded }}</a><br>
</div>

{% endif %}

<style>
#_ah_base { top:10px }
</style>
