{% for result in result_set.results %}
  <p class='snippet'>
      <div class='snippet_buttons'>
        {% if userId %}
          <div class='broadcast_event' onclick='broadcastEvent(this, "{{result.url}}", "{{result.jsEscapedTitle}}", "{{result.jsEscapedSnippet}}")'>
            <img src='images/broadcasticon.png' alt=''/> Broadcast
          </div>
          <div class='share_event' onclick='shareEvent(this, "{{result.url}}", "{{result.jsEscapedTitle}}", "{{result.jsEscapedSnippet}}")'>
            <img src='images/openshareicon-16.png' alt=''/> Share
          </div>
        {% endif %}
        <!-- TODO: We need locations and dates for adding to calendars -->
        <div class='add_to_calendar' onclick='addToCalendar(this, "YAHOO", "{{result.url|escape}}", "{{result.jsEscapedTitle|escape}}",
            "{{result.jsEscapedSnippet|escape}}", "20090214", "locationPlaceholder")'>
          <img src='images/yahoo.gif' height="16px" alt=''/> Yahoo! Calendar
          </div>
       <div class='add_to_calendar' onclick='addToCalendar(this, "GOOGLE", "{{result.url|escape}}", "{{result.jsEscapedTitle|escape}}",
            "{{result.jsEscapedSnippet|escape}}", "20090214", "locationPlaceholder")'>
          <img src='images/google.png' height="16px" alt=''/> Google Calendar
        </div>
      </div>

      {# TODO(paul): ESCAPE THE LOCATION FIELD AGAINST QUOTES #}
      {% if location %} <script>workQueue.addCallback(function(){map.addMarkerGeocode("{{ result.location }}")});</script> {% endif %}

    <div class='snippet_title'>
      <a href='{{ result.url }}'>{{ result.title }}</a>
    </div>
    <div class='snippet_text'>
      {{ result.snippet }}
    </div>
    <div class='snippet_url'>
      <a href='{{ result.url }}'>{{ result.url }}</a>
    </div>

    <div class='snippet_actions'>
      <div id='review-{{result.url|escape}}' style='width:100%;'></div>
    </div>
  </p>

  <script type="text/javascript">
    google.friendconnect.container.renderReviewGadget(
       {id: 'review-{{result.url|escape}}',
        site: SITE_ID,
        'view-params':{"disableMinMax":"false","scope":"ID","allowAnonymousPost":"false",
            "docId":"review-{{result.url|escape}}","startMaximized":"false"}
        },
        REVIEW_SKIN);
  </script>
{% endfor %}

<script>
document.userDisplayName = "{{userDisplayName}}";
</script>
<script type="text/javascript" src="/js/snippets_list.js"></script>
