{% extends "base_min.html" %}

{% block head %}
  <link href='css/main.css' rel='stylesheet'/>
  {% block css_files %}{% endblock %}

  <script type='text/javascript'>
    var vol = {};  // Namespace
  </script>
  <script src='http://www.google.com/jsapi?key=ABQIAAAAHtEBbyenR4BaYGl54_p0fRRlOb26qSyU154aZeLwOrF4C7-DphT-k84KU2QtDbk5G77Rqt1x2njBTQ' type='text/javascript'></script>
  <script type='text/javascript' src='/thirdparty/js/jquery-1.3.2.min.js'></script>
  <script type='text/javascript' src='/thirdparty/js/jquery.hashchange-1.0.0.js'></script>
  <script type='text/javascript' src='/js/utils.js'></script>
  <script type='text/javascript'>
    // These components load asynchronously.  We use AsyncLoadManager to
    // queue up function callbacks until each component is loaded.
    var asyncLoadManager = new AsyncLoadManager(
        [ 'map', 'addthis', 'bodyload', 'friendconnect' ]
    );

    // ...and one to queue JS callbacks on body unload event.
    var onUnloadWorkQueue = new WorkQueue();

    var currentPageName = '{{ current_page }}';

    var popularSearches = [ 'Clean up', 'Education', 'Hunger', 'Tutor',
      'Homeless', 'Seniors', 'Health', 'Animals', 'Hospital', 'Developer' ];
  </script>
{% block js_files %}{% endblock %}

{% endblock %}

{% block body %}
<body onload='asyncLoadManager.doneLoading("bodyload");'>
 <img id='background_top_gradient' src='/images/background-gradient.png'>
 <div id='login_bar_position'>
   <div id='login_bar'>
     {% include "login_bar.html" %}
   </div>
 </div>

 <center>
 <div id='body_centered'>
  {% include 'header.html' %}
  {% block subheader %}{% endblock %}

  <div>
  <table style='padding: 0px;' cellpadding='0' cellspacing='0'>
  <tr>
    <td class='glow_tl'><img class='glow_tl' src='../images/glow-tl.gif'></td>
    <td class='glow_top'></td>
    <td class='glow_tr'><img class='glow_tr' src='../images/glow-tr.gif'></td>
  </tr>
  <tr>
    <td class='glow_left'></td>
    <td style='background:white'><div id='content_outer'>{% block content_layout %}{% endblock %}</div></td>
    <td class='glow_right'></td>
  </tr>
  <tr>
    <td class='glow_bl'><img class='glow_bl' src='../images/glow-bl.gif'></td>
    <td class='glow_bottom'></td>
    <td class='glow_br'><img class='glow_br' src='../images/glow-br.gif'></td>
  </tr>
  </table>
  </div>

  {% block prefooter %}{% endblock %}

  {% block footer %}
  <div id='footer'>
    <div id='footer_right'>
      <a href='/about'>About Us</a> |
      <a href='/privacypolicy'>Privacy Policy</a> |
      <a href='/publishers'>Publishers</a>
    </div>
    <div>
      &copy; 2009 AllForGood.org
    </div>
  </div>
 {% endblock %}

 </div>
 </center>

  <div id='debug_snippets' style='display:none;'></div>
  <script>
    // Handle searches when in static content pages.
    if (!('submitForm' in window)) {
      window.submitForm = function(fromWhere) {
        window.location = '/search#q=' + getInputFieldValue(el('keywords'));
      }
    }
  </script>
</body>
{% endblock %}

