<div class='calendar_container'>
  <table cellpadding="0" cellspacing="0" width="100%" height="100%"
         class="noselect" style="display:none;">
    <thead>
      <tr>
        <th class="calendar_month_previous pointer">&#171;</th>
        <th colspan="5" class="calendar_month"></th>
        <th class="calendar_month_next pointer">&#187;</th>
      </tr>
      <tr>
        <th>M</th><th>T</th><th>W</th><th>T</th><th>F</th><th>S</th><th>S</th>
      </tr>
    </thead>
    <tbody class="calendar_days"></tbody>
  </table>
</div>