<div class='header'>
  <div id='header_top_spacer'></div>
  <div class='header_title'>Footprint</div>
  <div class={% ifequal current_page "SEARCH" %} 'tab_active' {% else %} 'tab_inactive' {% endifequal %} onclick="location.href = '/search'">Find an event</div>
  <div class={% ifequal current_page "MY_EVENTS" %} 'tab_active' {% else %} 'tab_inactive' {% endifequal %} onclick="location.href = '/myevents'">My Events</div>
  <div class={% ifequal current_page "POST" %} 'tab_active' {% else %} 'tab_inactive' {% endifequal %} onclick="location.href = '/post'">Add an event</div>
  <div style='clear: both; float: none'></div>
</div>
