<div id='header'>
  <div id='header_left'>
    <div id='header_top_spacer'></div>
    <div class='header_title noselect pointer'>One For All</div>
    <div class='noselect pointer {% ifequal current_page "MY_EVENTS" %} tab_active {% else %} tab_inactive {% endifequal %}'
         onclick="location.href = '/myevents'"><img src="images/Event-Selected-Star.png"/> 5</div>
    <div class='noselect pointer {% ifequal current_page "SEARCH" %} tab_active {% else %} tab_inactive {% endifequal %}'
         onclick="location.href = '/'">Find an event</div>
    <div class='noselect pointer {% ifequal current_page "POST" %} tab_active {% else %} tab_inactive {% endifequal %}'
         onclick="location.href = '/post'">Add an event</div>
  </div>

  <script src='http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php' type='text/javascript'></script>
  <script type="text/javascript">
    document.userId = "{{user_id}}";
    document.userType = "{{user_type}}";
    document.userDisplayName = "{{user_display_name}}";

    var FC_SITE_ID = '02962301966004179520';
    var FB_SITE_ID = 'df68a40a4a90d4495ed03f920f16c333';

    FB.init(FB_SITE_ID, 'xd_receiver.htm');

    google.load('friendconnect', '0.8');
    google.setOnLoadCallback(function() {
      google.friendconnect.container.loadOpenSocialApi({site: FC_SITE_ID, onload: function() {
        {% if not user_id %} checkForViewer(); {% endif %}
      }});
    });
  </script>

  <div id='header_right' align='right' width='100%'>
   <nobr>
    {% if user_id %}
    <div class='sign_in'>
      Hello, {{ user_display_name }} |

      {% ifequal user_type "friendconnect"%}
        <a href="#" onclick="google.friendconnect.requestSettings()">Settings</a> |
        <a href="#" onclick="google.friendconnect.requestInvite()">Invite</a> |
        <a href="#" onclick="google.friendconnect.requestSignOut(); window.location.reload();">Sign Out</a>
      {% else %} {% ifequal user_type "facebook" %}
        <a href="#" onclick="FB.Connect.logout(function() {window.location.reload();});">Sign Out</a>
      {% endifequal %}{% endifequal %}
    </div>

    {% else %}
    <div class='sign_in'>
      Sign in with <span id="signInProvider"></span> :
      <img src="images/signin-yahoo.gif" onmouseover="setSignIn('Yahoo!');" onmouseout="setSignIn();" onclick="google.friendconnect.requestSignIn()"/>
      <img src="images/signin-google.gif" onmouseover="setSignIn('Google');" onmouseout="setSignIn();" onclick="google.friendconnect.requestSignIn()"/>
      <img src="images/signin-aol.gif" onmouseover="setSignIn('AOL');" onmouseout="setSignIn();" onclick="google.friendconnect.requestSignIn()"/>
      <img src="images/signin-facebook.gif" onmouseover="setSignIn('Facebook');" onmouseout="setSignIn();" onclick="requestFacebookSignIn()"/>
      <!--img src="images/signin-myspace.gif" onmouseover="setSignIn('MySpace');" onmouseout="setSignIn();" onclick="google.friendconnect.requestSignIn()"/-->
      <img src="images/signin-openid.gif" onmouseover="setSignIn('OpenID');" onmouseout="setSignIn();" onclick="google.friendconnect.requestSignIn()"/>

      <script type="text/javascript">
        function setSignIn(value) {
          document.getElementById('signInProvider').innerHTML = value || '';
        }

        function requestFacebookSignIn() {
          FB.Connect.requireSession();
          FB.Facebook.get_sessionState().waitUntilReady(function() {
            window.location.reload();
          });
        }

        function checkForViewer() {
          // If the viewer is != null and the userId == null reload page.
          // This is a temporary placeholder until FC gives us an onSignIn callback
          var req = opensocial.newDataRequest();
          req.add(req.newFetchPersonRequest('VIEWER'), 'viewer');
          req.send(function(data) {
            if (data.get('viewer').getData()) { window.location.reload();}
          });
        }
      </script>
    </div>
    {% endif %}
   </nobr>
  </div>

  <div style='clear: both; float: none'></div>
</div>
