{% extends "layout_two_column.html" %}


{% block title %}
My Events
{% endblock %}}

{% block subheader %}
{% endblock subheader %}

{% block content_left %}
{% if user %}
  Your events. <br/>
{% else %}
  Log in to see your starred events.
{% endif %}

{% endblock content_left %}

{% block content_right %}
<div id='snippets_pane'>
  {% include 'snippets_list.html' %}
</div>
{% endblock content_right %}


{% block prefooter %}
<center>
  {%include 'paginator.html' %}
</center>
{% endblock prefooter %}
