{% if not has_results %}
<script type='text/javascript'>
  el('no_results_message').style.display = '';
  initMap();  // In case it hasn't been inited.
</script>
{% else %}

<script type='text/javascript'>
  asyncLoadManager.addCallback('map', function(){
      map.map.clearOverlays();
  });
  searchResults = [];
{% for result in result_set.clipped_results %}
  searchResults.push(new SearchResult('{{result.url|escape}}', '{{result.js_escaped_title|escape}}', '{{result.location}}', '{{result.js_escaped_snippet|escape}}', new Date('{{ result.startdate|date:"r" }}'), new Date('{{ result.enddate|date:"r" }}'), '{{result.item_id|escape}}', '{{result.base_url|escape}}', {{result.interest|yesno:"1,0"}}));
{% endfor %}
</script>

{% for result in result_set.clipped_results %}
  <div class='snippet {% cycle row_highlight,row_plain %}'>
    <table>
    <tr>
    <td valign='top'>
    <div>
      {# TODO(paul): ESCAPE THE LOCATION FIELD AGAINST QUOTES #}
      {% if result.latlong %}
        <script type='text/javascript'>
           var coords = '{{result.latlong}}'.split(',')
           asyncLoadManager.addCallback('map', function(){
               map.addMarker(coords[0], coords[1])});
        </script>
      {% endif %}
      {# TODO(oansaldi): escape dates for extra-care (they are already safe) #}
      {% if result.startdate %}
        <script>
          asyncLoadManager.addCallback('bodyload', function() {
            calendar.markRange(
                new Date('{{ result.startdate|date:"r" }}'),
                new Date('{{ result.enddate|date:"r" }}'));
          });
        </script>
      {% endif %}

      <div class='snippet_title'>
        <a href='/url?q={{ result.url|urlencode }}'>{{ result.title }}</a>
      </div>
      {% if result.location or result.startdate or result.interest_count %}
        <div class='snippet_sub_text'>
          {{ result.location }}
          {% if result.location %}-{% endif %}
          {{ result.startdate|custom_date_format }}
          {% ifnotequal result.startdate.date result.enddate.date %}
          - {{ result.enddate|custom_date_format }}
          {% endifnotequal %}
          {% if result.interest_count|gt:"1" %}
            {% if result.location or result.startdate %}-{% endif %}
            <img src="images/Event-StarredByOthers.png" alt="Starred"/> by {{result.interest_count|add:"-1"}} other
            {{ result.interest_count|pluralize:"person,people" }}
          {% endif %}
        </div>
      {% endif %}
      {% if result.have_more %}
<div class="snippet_sub_text" style="display:inline">
      {% endif %}
      {% for entry in result.less_list %}{{ entry }}{% endfor %}
      {% if result.have_more %}
<div id="{{ result.more_id }}" style="display:none;">
      {% for entry in result.more_list %}{{ entry }}{% endfor %}
<div onclick="showLessDuplicates('{{ result.more_id }}')" class="more_link"> show fewer locations and times...</div>
</div>
<span id="s{{ result.more_id }}" onclick="showMoreDuplicates('{{ result.more_id }}')" class="more_link"> more locations and times...</span>
</div>
      {% endif %}
      <div class='snippet_text'>
        {{ result.snippet|truncate_chars:245 }}
      </div>
      <div class='snippet_url'>
        <a href='/url?q={{ result.url|urlencode }}'>{{ result.url_short }}</a>
      </div>
    </div>

    <div class='interest_links'>
      <span>
        <a href='javascript:void(0)' id='like_{{forloop.counter0}}' onclick='toggleInterest({{forloop.counter0}}, this);return false;'>{{result.interest|yesno:"Un-like,Like"}}</a>
      </span>|
      <!-- TODO(doll): Add to calendar functions need dates in the right format -->
      <span style='position: relative;'
           onclick='popupModalElement("add_to_calendar{{ forloop.counter0 }}");return false;'>
        <div id='add_to_calendar{{ forloop.counter0 }}'
             class='add_to_calendar_floating'>
          <div class='pointer popup_text'
               onclick='addToCalendar(this, "GOOGLE", searchResults[{{ forloop.counter0 }}])'>
            <a href='javascript:void(0)'>Add to Google Calendar</a>
          </div>
          <div class='pointer popup_text'
               onclick='addToCalendar(this, "YAHOO", searchResults[{{ forloop.counter0 }}])'>
            <a href='javascript:void(0)'>Add to Yahoo Calendar</a>
          </div>
        </div>
        Calendar
      </span>|
      <span class='snippet_button' id='addthis{{ forloop.counter0 }}'>
        <a href="javascript:showShareWidget(this, searchResults[{{ forloop.counter0 }}]);void(0);"
           onmouseout="hideShareWidget()"
           onmouseover="return showShareWidget(this, searchResults[{{ forloop.counter0 }}])"
           onclick="return showShareWidget(this, searchResults[{{ forloop.counter0 }}])" >
          Share
        </a>
      </span>
    </div>

    </td>
    </tr>
    </table>
  </div>
{% endfor %}
<div id='paginator'>
</div>
<script>
  asyncLoadManager.addCallback('bodyload', function() {
    calendar.render();
  });
  renderPaginator(el('paginator'), {{result_set.estimated_merged_results}});
  initMap();
</script>

<script>
el('debug_snippets').style.display = '';
el('debug_snippets').innerHTML = "DEBUG INFO:<br> FP query=<a href='{{ view_url }}'>{{ view_url }}</a><br> Base query= <a href='{{ result_set.query_url_encoded }}'>{{ result_set.query_url_unencoded }}</a><br> num results: backend-estimated={{result_set.estimated_results}}  merged-estimated={{result_set.estimated_merged_results}}  backend={{result_set.num_results}}   merged={{result_set.num_merged_results}}";
</script>

{% endif %}
