{% for result in result_set.results %}
  <p class='snippet'>
      <div class='snippet_buttons'>
          <script type="text/javascript">
            SHARETHIS.addEntry({
              url: "{{result.url|escape}}",
              title: "{{result.js_escaped_title|escape}}",
              summary: "{{result.js_escaped_snippet|escape}}"
            }, {offsetLeft: -250});
           </script>
        <!-- TODO: We need locations and dates for adding to calendars -->
        <div class='add_to_calendar' onclick='addToCalendar(this, "YAHOO", "{{result.url|escape}}", "{{result.js_escaped_title|escape}}",
            "{{result.js_escaped_snippet|escape}}", "20090214", "locationPlaceholder")'>
          <img src='images/yahoo.gif' height="16px" alt=''/> Yahoo! Calendar
          </div>
       <div class='add_to_calendar' onclick='addToCalendar(this, "GOOGLE", "{{result.url|escape}}", "{{result.js_escaped_title|escape}}",
            "{{result.js_escaped_snippet|escape}}", "20090214", "locationPlaceholder")'>
          <img src='images/google.png' height="16px" alt=''/> Google Calendar
        </div>
      </div>

      {# TODO(paul): ESCAPE THE LOCATION FIELD AGAINST QUOTES #}
      {% if location %} <script>workQueue.addCallback(function(){map.addMarkerGeocode("{{ result.location }}")});</script> {% endif %}

    <div class='snippet_title'>
      <a href='{{ result.url }}'>{{ result.title }}</a>
    </div>
    <div class='snippet_text'>
      {{ result.snippet }}
    </div>
    <div class='snippet_url'>
      <a href='{{ result.url }}'>{{ result.url }}</a>
    </div>
  </p>
{% endfor %}

<script>
document.userDisplayName = "{{user_display_name}}";
</script>
<script type="text/javascript" src="/js/snippets_list.js"></script>
