<html>
<head>
  <title>Work with others</title>
  <link href="css/main.css" rel="stylesheet"/>
</head>
<body>
 {% include 'header.html' %}

  <div id="signInPane" class="right_pane">
    {% if userId %}
    Loading...
    {% else %}
    <input type="button" value="Sign in" onclick="google.friendconnect.requestSignIn()"/>
    <br/><br/>

    <div class="pane_title"> Reasons to join: </div>
    <ul>
      <li>You can star events
      <li>save your location data
      <li>and more!
    </ul>
    {% endif %}
  </div>

  <div id="activeMemberPane" class="left_pane">
    <div class="pane_title">Active members:</div>
  </div>

  <div id="activitiesPane" class="left_pane">
    <div class="pane_title">All Activity:</div>
  </div>

  <script>
  document.fcUserId = "{{userId}}";
  document.days_since_joined = "{{days_since_joined}}";
  </script>
  <script type="text/javascript" src="/js/works_with_others.js"></script>

</body>
</html>
